* {
    margin: 0;
    padding: 0;
}
body {
    header {
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 100%;
            height: 100%;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                min-width: 50%;
                min-height: 50%;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(5px);
            }
        }
        .hblock {
            width: 70%;
            text-align: left;
            color: #fff;
            margin-top: 200px;
            background: rgba(150, 146, 11, 0.5);
            font-family: Tahoma, sans-serif;
            padding: 15px;
            height: auto;

            h1 {
                letter-spacing: 5px;
                font-size: 40px;
                margin-bottom: 15px;
            }

            h5 {
                letter-spacing: 2px;
            }
        }
    }

    main {
        nav {
            .menu-btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 20px;

                &:hover {
                    cursor: pointer;
                }
                .btn-line-1 {
                    width: 35px;
                    height: 3px;
                    background: #fff;
                    margin-bottom: 5px;
                }
                .btn-line-2 {
                    width: 35px;
                    height: 3px;
                    background: #fff;
                    margin-bottom: 5px;
                }
                .btn-line-3 {
                    width: 35px;
                    height: 3px;
                    background: #fff;
                }
            }
            
        }
    }
}
