// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body {
        //overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }


        main {
            ///CSS for HEAD PAGE///
            &.head {
                &.main-height {
                    overflow: scroll;
                    height: 100%;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                #top {
                    .top-container {
                        #logo {
                            font-size: 10vw;
                        }
                    }
                }

                #select {
                    .select {
                        flex-direction: column;
                        padding: 2vh 0 4vh;
                        height: 100%;

                        a {
                            height: 25vh;
                            margin: 5px 0;

                            .sel-bg {
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            ///END of CSS for HEAD PAGE///
            #top {
                padding: 70px 0;
            }

            #about {
                padding: 70px 30px;


                .bio-content {
                    display: block;
                    padding: 0 30px;

                    .bio-image {
                        display: none;
                    }

                    .bio {
                        width: 100%;
                    }
                }

                .about-botom {
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                }
            }

            #price {
                width: 100%;
                padding: 70px 10px;

                h1 {
                    padding-bottom: 20px;
                    font-size: 50px;
                }

                .price-list {

                    table {

                        thead {
                            tr {

                                th {
                                    min-width: 14vw;

                                    &.naming {
                                        min-width: 80vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .wraper {
                width: 100%;
                padding: 0 10px;

                .more-info {
                    padding: 0 20px;

                    .waranty {
                        margin: 50px 0;
                        padding: 20px;
                    }
                }

                #impo-info {
                    display: block;
                    padding: 50px 0;

                    .center {
                        .list {
                            width: 90%;
                        }
                    }
                }
            }

            #contact {
                .wraper {
                    padding: 10px;

                    .contact-info {
                        max-width: 30vh;
                    }
                }
            }
        }

        footer {
            background: rgba($dark-color, 0.5);
            font-size: 3vw;
        }
    }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
