html {
  background: blue; }

body {
  color: blue;
  background: url("https://background.com/bg/bestone.jpg");
  font-size: normal; }

html {
  background: 2;
  background: 1px 4px black, 2px 3px green, 3px 2px blue, 4px 1px red; }

.foo {
  content: "KeyName", "AnotherKey";
  content: "Value", 200px;
  content: true;
  content: "targeting a key produces its value";
  content: ("KeyName": "Value", "AnotherKey": 200px, "key1": "value1", "key2": "value2", "key3": "value3");
  content: ("key3": "value3"); }

div {
  width: 16.7777777778px;
  width: 17px;
  width: 16px;
  width: cell(16.3777777778px);
  width: 450%;
  width: 12px;
  width: 10;
  width: 50.1;
  width: 25;
  height: 0.5px;
  line-height: -34px; }

.main {
  content: 'Nope False!';
  width: 0px; }

h1 {
  font-size: 55px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 35px; }

h5 {
  font-size: 30px; }

h6 {
  font-size: 25px; }

section {
  width: "Yup"; }
